# Ignorar datos de la base de datos
**/basedatos/
# Si quieres guardar solo los scripts SQL pero no los datos internos:
# !**/basedatos/*.sql

# Ignorar archivos temporales de Python
**/__pycache__/
*.pyc
